<div class="container_16">
	<div class="grid_9">
		<div class="bio_top">
			<h1>Hello, my name is Dan Segal</h1>
			<p>I am a third year Computer Science BS student at Case Western Reserve University in Cleveland, Ohio and I'm expecting to graduate in May 2014. Weclome to my site, please feel free to take a look around and contact me if you would like to discuss anything further.</p>
			<br>
			<p>I have interned both as a member of an IT group at Johns Hopkins Hospital, and a web developer at Vigilant Medical, a health and technology startup in Baltimore, MD. My main interest recently has been web development, and I look forward to improving my skills with it.</p>
		</div>
	</div>
	<div class="grid_5 suffix_1">
		<div id="headshot">
			<img src="<%=asset_path'headshot.jpg'%>">
		</div>		
	</div>
</div>
<div class="container_16">
	<div class="grid_16">
		<div class="bio">
			<p>In addition to my academic and technical pursuits, I am also an avid photographer and videographer. I am frequently working on either a personal project, or freelance work for one of several groups on campus. You can see some selections of my work below or on the Projects page.</p>
			<br>
			<p> Below are some quick links to my code and photography. I go into both in more depth on the Projects and Resume pages, but if you just want to see what I can do, they're a good first stop. </p>
		</br>
		</div>
	</div>
</div>
<div class="container_16">
	<div id="circles">
		<div class="grid_1 prefix_3" id="label1">
			<h2>Github</h2>
		</div>
	
		<div class="grid_1 prefix_7" id="label2">
			<h2>500px</a></h2>
		</div>
</div>
<div class="container_16">	
		<div class="grid_4 prefix_1">
			<a href="http://github.com/DSegal92" id="github"></a>
			</br>	</br>
		</div>
		<div class="grid_4 prefix_4">
			<a href="http://500px.com/DSegal92" id="px"></a>
		
			</br>	</br>
		</div>	
		<div id="circle_desc">
			<div class="grid_6 prefix_1">
				<p> Assignment code for various classes that I have taken, as well as for personal projects </p>
			</div>
		
			<div class="grid_6 prefix_2">
				<p> Samples of pictures that I have taken of varying styles and techniques </p>
			</div>
		</div>
	</div>
</div>
<div class="container_16">
	<div class="grid_16">
		<br><br>
			<center><a href="/biosketch.pdf" class="download">Download This Page</a></center>
		<br><br>				
	</div>
</div>

