<div class="container_16">
	<div class="grid_9">
		<div class="bio_top">
			<h1>Hello, my name is Dan Segal</h1>
			<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Maecenas porttitor congue massa. Fusce posuere, magna sed pulvinar ultricies, 	purus lectus malesuada libero, sit amet commodo magna eros quis urna.
	
			Nunc viverra imperdiet enim. Fusce est. Vivamus a tellus.
	
			Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Proin pharetra nonummy pede. Mauris et orci.</p>
			<br>
			<p>
				Nunc viverra imperdiet enim. Fusce est. Vivamus a tellus.
	
			Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Proin pharetra nonummy pede. Mauris et orci.</p>
		</div>
	</div>
	<div class="grid_5 suffix_1">
		<div id="headshot">
			<img src="<%=asset_path'headshot.jpg'%>">
		</div>		
	</div>
	<div class="grid_16">
		<div class="bio">
			<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Maecenas porttitor congue massa. Fusce posuere, magna sed pulvinar ultricies, 	purus lectus malesuada libero, sit amet commodo magna eros quis urna.
	
			Nunc viverra imperdiet enim. Fusce est. Vivamus a tellus.
	
			Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Proin pharetra nonummy pede. Mauris et orci.</p>
			<br>
			<p>
				Nunc viverra imperdiet enim. Fusce est. Vivamus a tellus.
	
			Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Proin pharetra nonummy pede. Mauris et orci.</p>
		</br>
		</div>
	</div>
	<div id="circles">
		<div class="grid_1 prefix_3" id="label">
			<h2>Github</h2>
		</div>
	
		<div class="grid_1 prefix_7" id="label">
			<h2>500px</a></h2>
		</div>
	
	
		<div class="grid_4 prefix_1">
			<div id="github">
			</div>
			</br>	</br>
		</div>
		<div class="grid_4 prefix_4">
			<a href="http://500px.com/DSegal92" id="px"></a>
			
			</br>	</br>
		</div>	
		<div id="circle_desc">
			<div class="grid_6 prefix_1">
				<p> Pellentesque habitant morbi 	tristique senectus et netus et malesuada 	fames ac turpis egestas. Proin pharetra 	nonummy pede. Mauris et 	orci. </p>
			</div>
		
			<div class="grid_6 prefix_2">
				<p> Pellentesque habitant morbi 	tristique senectus et netus et malesuada 	fames ac turpis egestas. Proin pharetra 	nonummy pede. Mauris et 	orci. </p>
			</div>
		</div>
	</div>

	<div class="grid_16">
		<br><br>
			<center><a href="#" class="download">Download This Page</a></center>
		<br><br>				
	</div>

</div>

