<div class="container_16">
	<br><br><br>
	<div class="grid_16">
		<p id="centered">Here are some of the projects that I have worked on, profesionally, academically, and personally. Clicking on the title of any of the coding projects will lead you to the source code. If you have any questions about these projects please contact me.</p>
		<div class="grid_16">           
      		<h1>Web Development Projects </h1>
		</div>
	</div>

	<div class="grid_16 web_project">
		<div class="grid_4 prefix_1">
			<img src="/assets/accounts.jpg" width=280>
		</div>
		<div class="grid_8 prefix_1">
			<h2 id="project_label">Contact Information Form</h2>
			<p>NOTE: Code is not available for this website. </p>
			<p>This was the first project that I worked on for Vigilant Medical. Using Knockout.js and Ruby on Rails, this is a dynamic form to gather contact information for any number of administrators and doctors at a primary hospital, as well as the network hospitals associated with it. Each hospital has a generated page and password that allows them to at any time update their contacts. </p>
		</div>
	</div>
	<div class="grid_16 web_project">
		<div class="grid_4 prefix_1">
			<img src="/assets/phones.jpg" width=280>
		</div>
		<div class="grid_8 prefix_1">
			<h2 id="project_label">Modular Phone System</h2>
			<p>Pairing a Tropo script with a Rails backend, this website powers the logic and database behind a customizeable phone system. Users can define phones as parts of groups and then apply logic to which phones or groups are called depend on day of the week, time of day, and several other variables. Call logs and information are then organized and stored for easy retrieval when needed. </p>
		</div>
	</div>
	<div class="grid_16 web_project">
		<div class="grid_4 prefix_1">
			<img src="/assets/cycling.jpg" width=280>
		</div>
		<div class="grid_8 prefix_1">
			<h2 id="project_label">Case Cycling Website</h2>
			<p>In order to prevent the common club website problem of stagnation, I designed this website to be easy for a non-technical user to update or modify, while still maintaining a professional presentation and point of contact with sponsors. Using heavily overwritten Bootstrap and several Javascript assets, this was my first experiment with frontend development.</p>
			<p>You can see this website at: <a href="http://www.casecycling.com">www.casecycling.com</a></p>
		</div>
	</div>
	<div class="grid_16 web_project">
		<div class="grid_4 prefix_1">
			<img src="/assets/professional.jpg" width=280>
		</div>
		<div class="grid_8 prefix_1">
			<h2 id="project_label">Professional Website</h2>
			<p>My other main project to date is this website. How meta is that? This was my first test of building a website completely from the ground up without any CSS frameworks (aside from 960.gs for the grid). This website was designed for ENGL 398: Professional Comunications for Engineers.</p>
		</div>
	</div>
</div>

<div class="container_16 coursework">
	<div class="grid_16">
		<h1> Computer Science Coursework </h1>
	</div>
	<div class="grid_14 prefix_1 suffix_1">
		<p id="course_header">At the following links you can see some examples of code that I have written for my various classes, more in-depth
			course descriptions can be found on the Github pages. These assignments were all written in C or Java.<p>
	</div>
	<div class= "class_name">
		<div class="grid_4" id="craftmanship">
			<a href="https://github.com/DSegal92/software_craftmanship_assignments"><h2>Software Craftmanship</h2></a>
		</div>
		<div class="grid_4">
			<a href="https://github.com/DSegal92/software_craftmanship_assignments"><center><h2>Compiler Design</h2></center></a>
		</div>
		<div class="grid_4">
			<a href="https://github.com/DSegal92/software_craftmanship_assignments"><center><h2>Operating Systems</h2></center></a>
		</div>
	</div>
	<div id="class_descriptions">
		<div class="grid_4" id="craftmanship">
			<p id="course_header">A course to improve programming skills, software quality, and the software development process. <p>
		</div>
		<div class="grid_4">
			<p id="course_header">Design and implementation of compilers and other language processors.<p>
		</div>
		<div class="grid_4">
			<p id="course_header">CPU scheduling, memory management, concurrent processes, secondary storage management, and file systems.<p>
		</div>
	</div>

</div>

<div class="container_16">
	<div class="grid_16">
		<h1> Other Projects </h1>
	</div>
	<div class="grid_8">
		<h2 id="course_header"> Photography </h2>

		<p id="centered">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla at pharetra metus. Nam condimentum augue eget neque aliquet et ornare massa ultricies. Proin ac sapien nulla, in ultricies dolor. Vestibulum enim ante, varius non adipiscing id, sagittis non sem. Ut ut neque eget ligula varius pretium. Curabitur tempor urna mollis lacus pulvinar vestibulum. Nulla eget nunc arcu. Maecenas vel mauris mi, non laoreet arcu. </p>
		<br>
				<center><img src="/assets/review.png" width="300"></center>
	</div>
	<div class="grid_8">
		<h2 id="course_header"> Video </h2>
		<p id="centered">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla at pharetra metus. Nam condimentum augue eget neque aliquet et ornare massa ultricies. Proin ac sapien nulla, in ultricies dolor. Vestibulum enim ante, varius non adipiscing id, sagittis non sem. Ut ut neque eget ligula varius pretium. Curabitur tempor urna mollis lacus pulvinar vestibulum. Nulla eget nunc arcu. Maecenas vel mauris mi, non laoreet arcu. </p>
		<br>
		<center><iframe width="400" height="240" src="http://www.youtube.com/embed/g3SXhsxsy-c" frameborder="0" allowfullscreen></iframe></center>
	</div>
		<div class="grid_8">
		<h2 id="course_header"> Cycling </h2>
		<p id="centered">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla at pharetra metus. Nam condimentum augue eget neque aliquet et ornare massa ultricies. Proin ac sapien nulla, in ultricies dolor. Vestibulum enim ante, varius non adipiscing id, sagittis non sem. Ut ut neque eget ligula varius pretium. Curabitur tempor urna mollis lacus pulvinar vestibulum. Nulla eget nunc arcu. Maecenas vel mauris mi, non laoreet arcu. </p>
		<br>
	</div>
</div>

