<div class="container_16">
	<div class="grid_16">		
		<div class="section_head">
			<h1>Education</h1>
			<div class="grid_6 prefix_2">
				<ul>
					<li>Case Western Reserve University, Cleveland, OH - (Graduating May 2014) </li>
					<li>Computer Science BS - Junior</li>
					<li>Minor in Psychology</li>
					<li>GPA: 3.3</li>
				</ul>
		</div>
	</div>
	</div>
	<div class="grid_16">
		<div class="section_head">
			<h1>Technical Skills</h1>
			<div class="grid_5 prefix_2">
			</br>
				<h2 class="spacer"> Software </h2>
					<ul>
						<li> - Photoshop CS6 </li>
						<li> - Premiere Pro CS6 </li>
						<li> - Microsoft Office Suite </li>
						<li> - Eclipse IDE </li>
					</ul>
			</div>
			<div class="grid_7">
			</br>
				<h2 class="spacer"> Languages </h2>
					<div class="grid_3">
						<ul>
							<li> - Java </li>
							<li> - Ruby (on Rails) </li>
							<li> - C </li>
							<li> - MUMPS (M) </li>								
						</ul>
					</div>
					<div class="grid_3">
						<ul>
							<li> - Javascript/ JQuery </li>
							<li> - SQL </li>
							<li> - HTML/ CSS3 </li>
							<li> - MIPS </li>
						</ul>
					</div>
			</div>
			<div class="grid_14 prefix_2">
				</br>
				<h2 class="spacer"> Other </h2>
					<ul>
						<li> - Proficiency with developing in Windows, OS X, and Linux</li>
						<li> - Experience with Git-based version control </li>
						<li> - Capable of both development and basic design </li>
					</ul>
			</div>
		</div>
	</div>
	<div class="grid_16">
		<div class="section_head">
			<h1> Professional Experience </h1>
			<div class="grid_12 prefix_2">
				<h3 class="spacer"> <i> Vigilant Medical - Web Development Intern (2012 - Present)</i></h3>
					<ul>
						<li> - Developed and deployed internal tools using Ruby on Rails </li>
						<li> - Assisted in debugging and maintaining forward-facing website </li>
						<li> - Worked with a small team to rapidly conceptualize and prototype new projects </li>
					</ul>
			</div>
			<div class="grid_12 prefix_2">
				<br>
				<h3 class="spacer"> <i> Case Cycling Club - Webmaster (2012 - Present)</i></h3>
					<ul>
						<li> - Designed and deployed a dynamic site on Heroku </li>
						<li> - Utilized Google Analytics and SEO tools to monitor website availability & efficiency </li>
						<li> - Implemented easy-to-use backend forms for a non-technical user to update information </li>
					</ul>
			</div>
			<div class="grid_12 prefix_2">
				<br>
				<h3 class="spacer"> <i> John's Hopkins Hospital IT - EPIC Group Intern (2011)</i></h3>
					<ul>
						<li> - Wrote and incorporated MUMPS routines into hospital production system </li>
						<li> - Coordinated with hospital staff to add doctor privleges to clinics </li>
						<li> - Resolved errors with, and tested integrity of hospital databases </li>
					</ul>
			</div>
		</div>
	</div>
	<div class="grid_16">
		<div class="section_head">
			<h1>Other Experience</h1>  
			<div class="grid_12 prefix_1">
				<ul id="other">
					<li><i> Portrait Photographer (2011 - Present)</i></li>
					<li><i> Theater Videographer (2011 - Present)</i></li>
					<li><i> Case Western Co-Op Office Videographer (2013)</i></li>
					<li><i> Case Western Reserve Marching Spartans Historian (2011 - 2012)</i></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="grid_16">
		<div class="section_head">
			<h1> Research </h1>
			<div class="grid_11 prefix_2 suffix_1">
				<h3 class="spacer"> <i> Internet Video Sharing for Health (2012)</i></h3>
					<p id="research">Recorded and edited videos of patients in an obesity management program as part of a study
						on weight management for diabetics, in conjunction with Case Western professor Adam Perzynski. This project was
						supported by MetroHealth and Case Western </p>
			</div>
		</div>
	</div>
	<div class="grid_16">
		<div class="courses">
			<h1> Selected Coursework </h1>
			<div class="grid_5 prefix_2">
				<ul>
					<li> Software Craftmanship </li>
					<li> Theoretical Computer Science </li>
					<li> Introduction to Cryptology </li>
					<li> Introduction to Operating System </li>
				</ul>
			</div>
			<div class="grid_6">
				<ul>
					<li> Algorithms and Data Structures </li>
					<li> Introduction to Compiler Design </li>
					<li> Logic Design and Computer Organization </li>
					<li> Computer Architecture </li>
					<br><br>
				</ul>
			</div>
		</div>
	</div>		
</div>
<div class="container_16">
		<br><br>
			<center><a href="#" class="download">Download This Page</a></center>
		<br><br>	
</div>			
