<!DOCTYPE html>
<html>
<head>
  	<title>Daniel Segal</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
	<link rel="stylesheet" type="text/css" href="assets/stylesheet.css" />
	<link rel="stylesheet" type="text/css" href="assets/grid.css" />

</head>
<body>

<%= yield %>

</body>
</html>
